<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	
  	<typeAliases>
  		<typeAlias type="com.th.files.vo.FilesVO" alias="FilesVO"/>
  		<typeAlias type="com.th.member.vo.MemberVO" alias="MemberVO"/>
  		<typeAlias type="com.th.article.vo.ArticleVO" alias="ArticleVO"/>
  		<typeAlias type="com.th.article.vo.ArticleSearchVO" alias="ArticleSearchVO"/>
  		<typeAlias type="com.th.reply.vo.ReplyVO" alias="ReplyVO"/>
  		<typeAlias type="com.th.recommend.vo.RecommendVO" alias="RecommendVO"/>
  	</typeAliases>
  	
  </configuration>